/* Original design by @romanovna3 */

:root {
  /* --color-orange: rgb(149, 9, 30); */
  --color-black: rgb(33,33,33);
  --color-white: rgb(235, 233, 232);
  
}

body{
    background:var(--color-orange);
  }
.body {
  margin-top:15%;
  display: flex;
  justify-content:center;
  
}

/* hand */

.handsvg {
  margin-top:76px;
  z-index:10;  
}

#hand-shape, #line1, #line2, #line3, #line4, #line5 {
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#hand-shape{
  animation-name: hand-shape;
}

#line1{
  animation-name: line1;
}

#line2{
  animation-name: line2;
}

#line3{
  animation-name: line3;
}

#line4{
  animation-name: line4;
}

#line5{
  animation-name: line5;
}

@keyframes hand-shape {
  0%, 100%{
    d: path("M70,200 0,400 120,400 140,240 70,200 150,110 195,100  215,108 280,90 276,112 270,115 265,134 245,143 240,178 140,240")
  }
  50%{
    d: path("M85,210 0,400 120,400 160,250 85,210 153,110 176,105 200,110 280,80 276,102 270,105 265,124 250,133 240,178 160,250")
  }
}

@keyframes line1 {
  0%, 100%{
    d: path("M140,130 165,120 280,90")
  }
  50%{
    d: path("M140,140 165,127 280,80")
  }
}

@keyframes line2 {
  0%, 100%{
    d: path("M276,112 195,135")
  }
  50%{
    d: path("M276,102 200,135")
  }
}

@keyframes line3 {
  0%, 100%{
    d: path("M265,134 200,155")
  }
  50%{
    d: path("M265,124 206,155")
  }
}

@keyframes line4 {
  0%, 100%{
    d: path("M242.5,160.5 210,173")
  }
  50%{
    d: path("M246,155 215,173")
  }
}

@keyframes line5 {
  0%, 100%{
    d: path("M190,125 212,183")
  }
  50%{
    d: path("M195,125 217,183")
  }
}
  
/* wine glass  */

.container {
  
    display:flex;
    flex-direction:column;
    align-items:center;
  margin-left:-140px;

    animation: glass 2.5s linear infinite;
  }
  
  .images {
    display:grid;
    margin-top:45px;
    margin-left: 9%;
    width: 100px;
    height: 50px;
  }
  
  .image0, .image0-1,.image0-2, .image2, .image2-1, .image2-2 {
    grid-area: 1 / 1 ;
    background-size: 90.1%;
    background-repeat:no-repeat;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
  }

.image0, .image0-1, .image0-2 {
  background-image: url("https://i.ibb.co/ckZy3KG/wave3-removebg-preview.png");
  animation-direction: reverse;
  animation-delay: 0.22s
  
}
  
  .image0 {
      animation-name: wave0;
    
  }
.image0-1{
  animation-name: wave0-1; 
}

.image0-2 {
  animation-name: wave0-2; 
}
  
  .image2, .image2-1, .image2-2 {
    background-image: url("https://i.ibb.co/QFmjyVC/wave3-removebg-preview-1.png");
    
  
  }

.image2 {
   animation-name: wave0;
}
.image2-1{
  animation-name: wave0-1; 
}

.image2-2 {
  animation-name: wave0-2; 
}

  
  .wine{
    position:relative;
    width: 100px;
    height:80px;
    margin-top:-17%;
    margin-left: 9%;
    display:grid;
    justify-content:center;
  background-color: var(--color-black);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    
  }
  
  
  @keyframes glass {
    0%,100% {
      transform:rotate(0deg)
    }
    
    50% {
      transform:rotate(-10deg)
    }
  }

  
  @keyframes wave0{
    0% {
      opacity:1;
      background-position: -1000% 0%;
    }
    
    33% {
      opacity:1;
      background-position: 0% 0%;
    }
    
     66% {
      opacity:1;
      background-position: 1000% 0%;
    }
     66.1% {
      opacity:0;
      background-position: 1000% 0%;
    }
    66.2% {
      opacity:0;
      background-position: -1000% 0%;
    }
    
    66.3% {
      opacity:1;
      background-position: -1000% 0%;
    }
  
    
    100% {
      opacity:1;
      background-position: -1000% 0%;
    }
  }

@keyframes wave0-1{
      0% {
      opacity:1;
      background-position: 0% 0%;
    }
    
    33% {
      opacity:1;
      background-position: 1000% 0%;
    }
  33.1% {
      opacity:0;
      background-position: 1000% 0%;
    }
  66% {
      opacity:0;
      background-position: -1000% 0%;
    }
  67% {
      opacity:1;
      background-position: -1000% 0%;
    }
     
    100% {
      opacity:1;
      background-position: 0% 0%;
    }
  }

@keyframes wave0-2{
      0% {
      opacity:0;
      background-position: 1000% 0%;
    }
    
    33% {
      opacity:0;
      background-position: -1000% 0%;
    }
  33.1% {
      opacity:1;
      background-position: -1000% 0%;
    }
    
66% {
      opacity:1;
      background-position: 0% 0%;
    }
  99% {
      opacity:1;
      background-position: 1000% 0%;
    }
  
    
    100% {
      opacity:0;
      background-position: 1000% 0%;
    }
  }
@keyframes shadow {
    0%,100% {
      margin-left:52%;
       width: 160px;
    }
    
    50% {
      margin-left:55%;
      width: 150px;
    }
  }

@keyframes bubbles {
 0% {
  
    transform: translateY(0px) scale(1);
    transform-origin: 50% 0%;
   
  }

  100% {
  
    transform: translateY(-150px) scale(0);
    transform-origin: 50% 0%;
    
  }
}
  
  
  .top-glass{

    width:120px;
    height:160px;
    background:var(--color-white);
    margin-top:15%;
     border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    z-index:-1;
  }
  
  .glass-circle {
    position:absolute;
    width:119px;
    height:30px;
    background:var(--color-orange);
    border-radius:100%;
    border:1px solid var(--color-white);
    margin-top:-15px;
  }
  
  .foot{
    width:10px;
    height:150px;
    background:var(--color-white);
    
  }
  .bottom {
    position:relative;
    width:130px;
    height:15px;
    border-radius:100%;
    background:var(--color-white);
   
  }
.shadow{
  margin-top:-3%;
  margin-left:52%;
  width: 165px;
  height: 40px;
  background:var(--color-black);
  border-radius:100%;
  animation: shadow 2.5s linear infinite
}

.bubbles{
  z-index:10;
  margin-top:40%;
  width:70px;
  height:60px;
  display:flex;
  flex-direction:column;
  margin-bottom:-110px;
  
  
}

.bubble {
  border-radius:100%;
 
  
}
.bubble.black{
  height:20px;
  width:20px;
  background:var(--color-black);
  z-index:1000;
  align-self:flex-end;
   animation: bubbles 3s linear  infinite;
}

.bubble.orange{
  height:10px;
  width:10px;
  background:var(--color-orange);
  z-index:1000;
  align-self:flex-start;
   animation: bubbles 3.8s linear 0.3s infinite;
}

.bubble.white{
  height:7px;
  width:7px;
  background:var(--color-white);
  z-index:1000;
   align-self:center;
   animation: bubbles 2.5s linear infinite;
}